### Library

In [5]:
from datetime import datetime, timedelta
import oandapy
import pandas as pd
import time
import matplotlib.pyplot as plt
import numpy as np
import pickle
import sys
import os
import talib
sys.path.append('/Users/toshio/MyProject/fx')
from config import token

### Oandaのインスタンス化

In [6]:
access_token = token
oanda = oandapy.API(environment="practice", access_token=access_token)

### 過去データの取得

In [31]:
gran = 'H1'

In [10]:
i = 0
end = datetime(2018, 8, 1, 0, 0)
res = []
while i < 20:
    start = end - timedelta(hours = 4999)
    print(i, start, end)

    end_day =  '{0}-{1:02d}-{2:02d}-{3:02d}:{4:02d}:{5:02d}'.format(end.year, end.month, end.day, end.hour, end.minute, end.second)
    start_day =  '{0}-{1:02d}-{2:02d}-{3:02d}:{4:02d}:{5:02d}'.format(start.year, start.month, start.day, start.hour, start.minute, start.second)

    res.append(oanda.get_history(instrument="USD_JPY",granularity=gran, start = start_day, end = end_day))
    i += 1
    end = start - timedelta(hours = 1)

0 2018-01-04 17:00:00 2018-08-01 00:00:00
1 2017-06-10 09:00:00 2018-01-04 16:00:00
2 2016-11-14 01:00:00 2017-06-10 08:00:00
3 2016-04-19 17:00:00 2016-11-14 00:00:00
4 2015-09-24 09:00:00 2016-04-19 16:00:00
5 2015-02-28 01:00:00 2015-09-24 08:00:00
6 2014-08-03 17:00:00 2015-02-28 00:00:00
7 2014-01-07 09:00:00 2014-08-03 16:00:00
8 2013-06-13 01:00:00 2014-01-07 08:00:00
9 2012-11-16 17:00:00 2013-06-13 00:00:00
10 2012-04-22 09:00:00 2012-11-16 16:00:00
11 2011-09-27 01:00:00 2012-04-22 08:00:00
12 2011-03-02 17:00:00 2011-09-27 00:00:00
13 2010-08-06 09:00:00 2011-03-02 16:00:00
14 2010-01-10 01:00:00 2010-08-06 08:00:00
15 2009-06-15 17:00:00 2010-01-10 00:00:00
16 2008-11-19 09:00:00 2009-06-15 16:00:00
17 2008-04-25 01:00:00 2008-11-19 08:00:00
18 2007-09-29 17:00:00 2008-04-25 00:00:00
19 2007-03-05 09:00:00 2007-09-29 16:00:00

In [27]:
df = pd.DataFrame(res[0]['candles'])
for i in range(1, len(res)):
    df1 = pd.DataFrame(res[i]['candles'])
    df = pd.concat([df1, df], axis = 0)

In [28]:
df

,closeAsk,closeBid,complete,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,time,volume
0,115.207,115.189,True,115.490,115.472,115.167,115.149,115.450,115.432,2007-03-05T09:00:00.000000Z,1380
1,115.306,115.288,True,115.427,115.409,115.216,115.198,115.218,115.200,2007-03-05T10:00:00.000000Z,1424
2,115.555,115.537,True,115.586,115.568,115.282,115.264,115.317,115.299,2007-03-05T11:00:00.000000Z,1365
3,115.575,115.557,True,115.705,115.687,115.435,115.417,115.558,115.540,2007-03-05T12:00:00.000000Z,1228
4,115.545,115.527,True,115.655,115.637,115.357,115.339,115.595,115.577,2007-03-05T13:00:00.000000Z,1593
5,115.935,115.905,True,116.001,115.983,115.484,115.466,115.535,115.517,2007-03-05T14:00:00.000000Z,1690
6,115.984,115.966,True,116.159,116.141,115.701,115.683,115.927,115.897,2007-03-05T15:00:00.000000Z,2084
7,116.024,116.006,True,116.256,116.238,115.971,115.953,115.974,115.956,2007-03-05T16:00:00.000000Z,1532
8,116.007,115.989,True,116.126,116.108,115.888,115.870,116.026,116.008,2007-03-05T17:00:00.000000Z,865
9,115.902,115.884,True,116.012,115.994,115.820,115.802,116.012,115.994,2007-03-05T18:00:00.000000Z,760
10,115.832,115.814,True,115.972,115.954,115.817,115.799,115.907,115.889,2007-03-05T19:00:00.000000Z,595
11,115.840,115.822,True,115.919,115.901,115.796,115.778,115.840,115.822,2007-03-05T20:00:00.000000Z,497
12,115.539,115.519,True,115.845,115.827,115.477,115.457,115.835,115.817,2007-03-05T21:00:00.000000Z,792
13,115.257,115.237,True,115.615,115.595,115.237,115.217,115.549,115.529,2007-03-05T22:00:00.000000Z,639
14,115.603,115.583,True,115.665,115.645,115.235,115.215,115.257,115.237,2007-03-05T23:00:00.000000Z,767
15,115.917,115.897,True,116.043,116.023,115.593,115.573,115.603,115.583,2007-03-06T00:00:00.000000Z,1267
16,116.143,116.123,True,116.256,116.236,115.892,115.872,115.917,115.897,2007-03-06T01:00:00.000000Z,903
17,116.378,116.358,True,116.543,116.523,116.063,116.043,116.128,116.108,2007-03-06T02:00:00.000000Z,893
18,116.483,116.463,True,116.573,116.553,116.373,116.353,116.374,116.354,2007-03-06T03:00:00.000000Z,722
19,116.443,116.423,True,116.573,116.553,116.423,116.403,116.493,116.473,2007-03-06T04:00:00.000000Z,604
20,116.413,116.393,True,116.473,116.453,116.233,116.213,116.443,116.423,2007-03-06T05:00:00.000000Z,715
21,116.403,116.383,True,116.473,116.453,116.263,116.243,116.388,116.368,2007-03-06T06:00:00.000000Z,950
22,116.390,116.372,True,116.527,116.509,116.293,116.273,116.393,116.373,2007-03-06T07:00:00.000000Z,1431
23,116.412,116.394,True,116.532,116.514,116.290,116.272,116.395,116.377,2007-03-06T08:00:00.000000Z,1436
24,116.407,116.389,True,116.472,116.454,116.340,116.322,116.412,116.394,2007-03-06T09:00:00.000000Z,856
25,116.608,116.590,True,116.622,116.604,116.392,116.374,116.412,116.394,2007-03-06T10:00:00.000000Z,976
26,116.512,116.494,True,116.686,116.668,116.462,116.444,116.602,116.584,2007-03-06T11:00:00.000000Z,1121
27,116.557,116.539,True,116.622,116.604,116.492,116.474,116.513,116.495,2007-03-06T12:00:00.000000Z,772
28,116.245,116.227,True,116.572,116.554,116.224,116.206,116.562,116.544,2007-03-06T13:00:00.000000Z,1339
29,116.405,116.360,True,116.491,116.473,116.227,116.209,116.245,116.227,2007-03-06T14:00:00.000000Z,1200
...,...,...,...,...,...,...,...,...,...,...,...
3530,111.022,111.008,True,111.024,111.011,110.939,110.926,110.971,110.957,2018-07-30T18:00:00.000000Z,382
3531,111.066,111.052,True,111.077,111.065,111.006,110.993,111.019,111.005,2018-07-30T19:00:00.000000Z,377
3532,111.102,111.043,True,111.111,111.085,111.052,111.020,111.064,111.050,2018-07-30T20:00:00.000000Z,253
3533,111.065,111.031,True,111.148,111.068,111.027,110.969,111.093,111.013,2018-07-30T21:00:00.000000Z,880
3534,111.032,111.014,True,111.063,111.041,111.030,111.011,111.060,111.032,2018-07-30T22:00:00.000000Z,169
3535,111.012,110.996,True,111.052,111.037,110.991,110.976,111.033,111.017,2018-07-30T23:00:00.000000Z,340
3536,110.962,110.945,True,111.017,111.000,110.914,110.900,111.008,110.995,2018-07-31T00:00:00.000000Z,1163
3537,111.036,111.022,True,111.075,111.061,110.961,110.946,110.965,110.946,2018-07-31T01:00:00.000000Z,877
3538,111.038,111.020,True,111.116,111.102,110.936,110.921,111.037,111.025,2018-07-31T02:00:00.000000Z,912
3539,110.892,110.871,True,111.248,111.215,110.818,110.784,111.038,111.024,2018-07-31T03:00:00.000000Z,2133
3540,111.052,111.037,True,111.446,111.431,110.763,110.731,110.891,110.867,2018-07-31T04:00:00.000000Z,7396
3541,111.268,111.252,True,111.273,111.260,111.047,111.032,111.054,111.039,2018-07-31T05:00:00.000000Z,1147
3542,111.122,111.107,True,111.485,111.446,111.073,111.057,111.269,111.255,2018-07-31T06:00:00.000000Z,3207
3543,111.409,111.395,True,111.421,111.408,111.076,111.062,111.119,111.105,2018-07-31T07:00:00.000000Z,1714
3544,111.548,111.535,True,111.568,111.555,111.360,111.348,111.406,111.393,2018-07-31T08:00:00.000000Z,1041
3545,111.520,111.507,True,111.599,111.586,111.468,111.455,111.546,111.532,2018-07-31T09:00:00.000000Z,613
3546,111.554,111.542,True,111.591,111.577,111.477,111.465,111.517,111.504,2018-07-31T10:00:00.000000Z,561
3547,111.520,111.507,True,111.559,111.546,111.439,111.426,111.557,111.543,2018-07-31T11:00:00.000000Z,504
3548,111.521,111.507,True,111.533,111.520,111.417,111.405,111.517,111.505,2018-07-31T12:00:00.000000Z,854
3549,111.925,111.905,True,111.929,111.907,111.506,111.493,111.518,111.506,2018-07-31T13:00:00.000000Z,3261
3550,111.946,111.933,True,111.959,111.945,111.827,111.814,111.922,111.902,2018-07-31T14:00:00.000000Z,1566
3551,111.901,111.888,True,111.965,111.952,111.875,111.862,111.944,111.931,2018-07-31T15:00:00.000000Z,1095
3552,111.807,111.793,True,111.928,111.915,111.802,111.786,111.903,111.890,2018-07-31T16:00:00.000000Z,819
3553,111.878,111.865,True,111.893,111.880,111.810,111.796,111.810,111.796,2018-07-31T17:00:00.000000Z,605
3554,111.836,111.823,True,111.877,111.862,111.787,111.773,111.877,111.862,2018-07-31T18:00:00.000000Z,436
3555,111.819,111.805,True,111.854,111.841,111.731,111.688,111.839,111.825,2018-07-31T19:00:00.000000Z,947
3556,111.902,111.846,True,111.902,111.875,111.786,111.772,111.822,111.808,2018-07-31T20:00:00.000000Z,361
3557,111.854,111.831,True,111.931,111.842,111.849,111.745,111.880,111.800,2018-07-31T21:00:00.000000Z,1116
3558,111.777,111.761,True,111.908,111.893,111.725,111.706,111.852,111.828,2018-07-31T22:00:00.000000Z,806
3559,111.843,111.828,True,111.843,111.828,111.713,111.699,111.775,111.759,2018-07-31T23:00:00.000000Z,1045

In [29]:
df = df.drop(['complete'], axis = 1)

df['time'] = df['time'].str[:-8]
df['time'] = df['time'].str.replace('T',' ')
times = [datetime.strptime(v, '%Y-%m-%d %H:%M:%S') for v in df['time']]
df['time'] = times
df = df.set_index('time',drop = True)

### 出力

In [33]:
with open('../intermediate_data/data_{}.pickle'.format(gran), mode='wb') as f:
    pickle.dump(df, f)