In [2]:
from datetime import datetime, timedelta
import oandapy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import sys
import os
import talib
sys.path.append('/Users/toshio/project/fx')
from config import token
from lib.indicator import ichimoku

class Preprocess:
    def __init__(self, res, df = None):
        self.res = res
        if df is None:
            self.df = self.res_to_df()
        else:
            self.df = df
        self.arr_ask, self.arr_bid, self.df_ask = self.prep_ohlcv()
        self.delta = self.prep_delta()
        self.sma = self.prep_sma()
        self.macd = self.prep_macd()
        self.rsi = self.prep_rsi()
        self.bband = self.prep_bband()
        self.adx = self.prep_adx()
        self.di = self.prep_di()
        self.sar = self.prep_sar()
        self.ichi = self.prep_ichi()
        self.updown = self.prep_updown()
        self.data = self.prep_concat()
        
    def res_to_df(self):
        df = pd.DataFrame(self.res['candles'])
        df = df.drop(['complete'], axis = 1)
        df['time'] = df['time'].str[:-8]
        df['time'] = df['time'].str.replace('T',' ')
        times = [datetime.strptime(v, '%Y-%m-%d %H:%M:%S') for v in df['time']]
        df['time'] = times
        df = df.set_index('time',drop = True)
        return df

    def prep_ohlcv(self):
        df_ask = pd.DataFrame(columns = ['open', 'high', 'low', 'close', 'volume'])
        df_ask['open'] = self.df['openAsk']
        df_ask['high'] = self.df['highAsk']
        df_ask['low'] = self.df['lowAsk']
        df_ask['close'] = self.df['closeAsk']
        df_ask['volume'] = self.df['volume']
        arr_ask = np.array(df_ask)

        df_bid = pd.DataFrame(columns = ['open', 'high', 'low', 'close', 'volume'])
        df_bid['open'] = self.df['openBid']
        df_bid['high'] = self.df['highBid']
        df_bid['low'] = self.df['lowBid']
        df_bid['close'] = self.df['closeBid']
        df_bid['volume'] = self.df['volume']
        arr_bid = np.array(df_bid)
        return arr_ask, arr_bid, df_ask

    def prep_delta(self):
        delta = pd.DataFrame(index = self.df.index, columns = ['delta_close'])
        delta['delta_close'] = self.df_ask['close'].diff()
        return delta

    def prep_sma(self):
        sma = pd.DataFrame(index = self.df.index, columns = ['sma5', 'sma25', 'sma50', 'sma75'])
        sma['sma5'] = talib.SMA(self.arr_ask[:,3], timeperiod = 5)
        sma['sma25'] = talib.SMA(self.arr_ask[:,3], timeperiod = 25)
        sma['sma50'] = talib.SMA(self.arr_ask[:,3], timeperiod = 50)
        sma['sma75'] = talib.SMA(self.arr_ask[:,3], timeperiod = 75)
        return sma

    def prep_macd(self):
        macd = pd.DataFrame(index = self.df.index, columns = ['macd', 'macdsignal', 'macdhist'])
        macd['macd'] =  talib.MACD(self.arr_ask[:,3],fastperiod=12, slowperiod=26, signalperiod=9)[0]
        macd['macdsignal'] =  talib.MACD(self.arr_ask[:,3],fastperiod=12, slowperiod=26, signalperiod=9)[1]
        macd['macdhist'] =  talib.MACD(self.arr_ask[:,3],fastperiod=12, slowperiod=26, signalperiod=9)[2]
        return macd

    def prep_rsi(self):
        rsi = pd.DataFrame(index = self.df.index, columns = ['rsi'])
        rsi['rsi'] =  talib.RSI(self.arr_ask[:,3], timeperiod = 14)
        return rsi

    def prep_bband(self):
        bband = pd.DataFrame(index = self.df.index, columns = ['-3sigma', '-2sigma', '-1sigma', '+1sigma', '+2sigma', '+3sigma'])
        bband['+1sigma'] = talib.BBANDS(self.arr_ask[:,3], timeperiod=15, nbdevup=1, nbdevdn=1)[0]
        bband['-1sigma'] = talib.BBANDS(self.arr_ask[:,3], timeperiod=15, nbdevup=1, nbdevdn=1)[2]
        bband['+2sigma'] = talib.BBANDS(self.arr_ask[:,3], timeperiod=15, nbdevup=2, nbdevdn=2)[0]
        bband['-2sigma'] = talib.BBANDS(self.arr_ask[:,3], timeperiod=15, nbdevup=2, nbdevdn=2)[2]
        bband['+3sigma'] = talib.BBANDS(self.arr_ask[:,3], timeperiod=15, nbdevup=3, nbdevdn=3)[0]
        bband['-3sigma'] = talib.BBANDS(self.arr_ask[:,3], timeperiod=15, nbdevup=3, nbdevdn=3)[2]
        return bband

    def prep_adx(self):
        adx = pd.DataFrame(index = self.df.index, columns = ['adx'])
        adx['adx'] = talib.ADX(self.arr_ask[:,1], self.arr_ask[:,2], self.arr_ask[:,3], timeperiod =14)
        return adx

    def prep_di(self):
        di = pd.DataFrame(index = self.df.index, columns = ['+di', '-di'])
        di['+di'] = talib.PLUS_DI(self.arr_ask[:,1], self.arr_ask[:,2], self.arr_ask[:,3], timeperiod = 14)
        di['-di'] = talib.MINUS_DI(self.arr_ask[:,1], self.arr_ask[:,2], self.arr_ask[:,3], timeperiod = 14)
        return di

    def prep_sar(self):
        sar = pd.DataFrame(index = self.df.index, columns = ['sar'])
        sar['sar'] = talib.SAR(self.arr_ask[:,1], self.arr_ask[:,2], acceleration=0.05, maximum=0.2)
        return sar

    def prep_ichi(self):
        ichi = ichimoku(self.df_ask).drop('close', axis = 1)
        return ichi

    def prep_updown(self):
        updown = pd.DataFrame(index = self.df.index, columns = ['up', 'down', 'nochange'])
        updown['up'] = self.delta['delta_close'].map(lambda x: 1 if x > 0.1 else 0)
        updown['down'] = self.delta['delta_close'].map(lambda x: 1 if x < -0.1 else 0)
        updown['nochange'] = self.delta['delta_close'].map(lambda x: 1 if -0.1 < x < 0.1 else 0)
        return updown

    def prep_concat(self):
        adder = [self.delta, self.sma, self.macd, self.rsi, self.bband, self.adx, self.di, self.sar, self.ichi, self.updown]
        data = self.df.join(adder)
        data = data.drop('chiko', axis = 1)
        data = data.dropna()
        return data

## Main

In [3]:
gran = 'H1'
look_back = 10

with open('../intermediate_data/data_{}.pickle'.format(gran), mode='rb') as f:
    df = pickle.load(f)
    
oanda = oandapy.API(environment="practice", access_token=token)
res = oanda.get_history(instrument="USD_JPY",granularity=gran, count = 77 + look_back)

In [18]:
prep = Preprocess(res, df)
data = prep.data

### 出力

In [21]:
data = data.drop(['up', 'down', 'nochange'], axis = 1)
with open('../intermediate_data/prep_reg_data_{}.pickle'.format(gran), mode='wb') as f:
    pickle.dump(data, f)

In [14]:
with open('../intermediate_data/prep_class_data_{}.pickle'.format(gran), mode='wb') as f:
    pickle.dump(data, f)

In [4]:
df

,closeAsk,closeBid,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,volume
time,,,,,,,,,
2007-03-05 09:00:00,115.207,115.189,115.490,115.472,115.167,115.149,115.450,115.432,1380
2007-03-05 10:00:00,115.306,115.288,115.427,115.409,115.216,115.198,115.218,115.200,1424
2007-03-05 11:00:00,115.555,115.537,115.586,115.568,115.282,115.264,115.317,115.299,1365
2007-03-05 12:00:00,115.575,115.557,115.705,115.687,115.435,115.417,115.558,115.540,1228
2007-03-05 13:00:00,115.545,115.527,115.655,115.637,115.357,115.339,115.595,115.577,1593
2007-03-05 14:00:00,115.935,115.905,116.001,115.983,115.484,115.466,115.535,115.517,1690
2007-03-05 15:00:00,115.984,115.966,116.159,116.141,115.701,115.683,115.927,115.897,2084
2007-03-05 16:00:00,116.024,116.006,116.256,116.238,115.971,115.953,115.974,115.956,1532
2007-03-05 17:00:00,116.007,115.989,116.126,116.108,115.888,115.870,116.026,116.008,865
2007-03-05 18:00:00,115.902,115.884,116.012,115.994,115.820,115.802,116.012,115.994,760
2007-03-05 19:00:00,115.832,115.814,115.972,115.954,115.817,115.799,115.907,115.889,595
2007-03-05 20:00:00,115.840,115.822,115.919,115.901,115.796,115.778,115.840,115.822,497
2007-03-05 21:00:00,115.539,115.519,115.845,115.827,115.477,115.457,115.835,115.817,792
2007-03-05 22:00:00,115.257,115.237,115.615,115.595,115.237,115.217,115.549,115.529,639
2007-03-05 23:00:00,115.603,115.583,115.665,115.645,115.235,115.215,115.257,115.237,767
2007-03-06 00:00:00,115.917,115.897,116.043,116.023,115.593,115.573,115.603,115.583,1267
2007-03-06 01:00:00,116.143,116.123,116.256,116.236,115.892,115.872,115.917,115.897,903
2007-03-06 02:00:00,116.378,116.358,116.543,116.523,116.063,116.043,116.128,116.108,893
2007-03-06 03:00:00,116.483,116.463,116.573,116.553,116.373,116.353,116.374,116.354,722
2007-03-06 04:00:00,116.443,116.423,116.573,116.553,116.423,116.403,116.493,116.473,604
2007-03-06 05:00:00,116.413,116.393,116.473,116.453,116.233,116.213,116.443,116.423,715
2007-03-06 06:00:00,116.403,116.383,116.473,116.453,116.263,116.243,116.388,116.368,950
2007-03-06 07:00:00,116.390,116.372,116.527,116.509,116.293,116.273,116.393,116.373,1431
2007-03-06 08:00:00,116.412,116.394,116.532,116.514,116.290,116.272,116.395,116.377,1436
2007-03-06 09:00:00,116.407,116.389,116.472,116.454,116.340,116.322,116.412,116.394,856
2007-03-06 10:00:00,116.608,116.590,116.622,116.604,116.392,116.374,116.412,116.394,976
2007-03-06 11:00:00,116.512,116.494,116.686,116.668,116.462,116.444,116.602,116.584,1121
2007-03-06 12:00:00,116.557,116.539,116.622,116.604,116.492,116.474,116.513,116.495,772
2007-03-06 13:00:00,116.245,116.227,116.572,116.554,116.224,116.206,116.562,116.544,1339
2007-03-06 14:00:00,116.405,116.360,116.491,116.473,116.227,116.209,116.245,116.227,1200
...,...,...,...,...,...,...,...,...,...
2018-07-30 18:00:00,111.022,111.008,111.024,111.011,110.939,110.926,110.971,110.957,382
2018-07-30 19:00:00,111.066,111.052,111.077,111.065,111.006,110.993,111.019,111.005,377
2018-07-30 20:00:00,111.102,111.043,111.111,111.085,111.052,111.020,111.064,111.050,253
2018-07-30 21:00:00,111.065,111.031,111.148,111.068,111.027,110.969,111.093,111.013,880
2018-07-30 22:00:00,111.032,111.014,111.063,111.041,111.030,111.011,111.060,111.032,169
2018-07-30 23:00:00,111.012,110.996,111.052,111.037,110.991,110.976,111.033,111.017,340
2018-07-31 00:00:00,110.962,110.945,111.017,111.000,110.914,110.900,111.008,110.995,1163
2018-07-31 01:00:00,111.036,111.022,111.075,111.061,110.961,110.946,110.965,110.946,877
2018-07-31 02:00:00,111.038,111.020,111.116,111.102,110.936,110.921,111.037,111.025,912
2018-07-31 03:00:00,110.892,110.871,111.248,111.215,110.818,110.784,111.038,111.024,2133
2018-07-31 04:00:00,111.052,111.037,111.446,111.431,110.763,110.731,110.891,110.867,7396
2018-07-31 05:00:00,111.268,111.252,111.273,111.260,111.047,111.032,111.054,111.039,1147
2018-07-31 06:00:00,111.122,111.107,111.485,111.446,111.073,111.057,111.269,111.255,3207
2018-07-31 07:00:00,111.409,111.395,111.421,111.408,111.076,111.062,111.119,111.105,1714
2018-07-31 08:00:00,111.548,111.535,111.568,111.555,111.360,111.348,111.406,111.393,1041
2018-07-31 09:00:00,111.520,111.507,111.599,111.586,111.468,111.455,111.546,111.532,613
2018-07-31 10:00:00,111.554,111.542,111.591,111.577,111.477,111.465,111.517,111.504,561
2018-07-31 11:00:00,111.520,111.507,111.559,111.546,111.439,111.426,111.557,111.543,504
2018-07-31 12:00:00,111.521,111.507,111.533,111.520,111.417,111.405,111.517,111.505,854
2018-07-31 13:00:00,111.925,111.905,111.929,111.907,111.506,111.493,111.518,111.506,3261
2018-07-31 14:00:00,111.946,111.933,111.959,111.945,111.827,111.814,111.922,111.902,1566
2018-07-31 15:00:00,111.901,111.888,111.965,111.952,111.875,111.862,111.944,111.931,1095
2018-07-31 16:00:00,111.807,111.793,111.928,111.915,111.802,111.786,111.903,111.890,819
2018-07-31 17:00:00,111.878,111.865,111.893,111.880,111.810,111.796,111.810,111.796,605
2018-07-31 18:00:00,111.836,111.823,111.877,111.862,111.787,111.773,111.877,111.862,436
2018-07-31 19:00:00,111.819,111.805,111.854,111.841,111.731,111.688,111.839,111.825,947
2018-07-31 20:00:00,111.902,111.846,111.902,111.875,111.786,111.772,111.822,111.808,361
2018-07-31 21:00:00,111.854,111.831,111.931,111.842,111.849,111.745,111.880,111.800,1116
2018-07-31 22:00:00,111.777,111.761,111.908,111.893,111.725,111.706,111.852,111.828,806
2018-07-31 23:00:00,111.843,111.828,111.843,111.828,111.713,111.699,111.775,111.759,1045